---
const skills = [
  {
    title: 'Next.js',
    logo: '/assets/logos/nextjs.svg'
  },
  {
    title: 'Next.js',
    logo: '/assets/logos/nextjs.svg'
  },
  {
    title: 'Next.js',
    logo: '/assets/logos/nextjs.svg'
  },
  {
    title: 'Next.js',
    logo: '/assets/logos/nextjs.svg'
  },
  {
    title: 'Next.js',
    logo: '/assets/logos/nextjs.svg'
  },
  {
    title: 'Next.js',
    logo: '/assets/logos/nextjs.svg'
  },
]
---

<ul class="skills">
  {skills.map(skill => (
      <li class="skill">
        <img
          src={skill.logo}
          alt={skill.title}
          width={35}
          height={35}
        />
        <p>
          {skill.title}
        </p>
      </li>
  ))}
</ul>

<style>
    .skills {
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 1rem;
        display: flex;
        flex-wrap: wrap;
    }
    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>